<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/icons/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="../assets/styles/style.css">
    <link rel="stylesheet" href="../assets/styles/media-queries.css">
    <title>Loja de Produtos Online</title>
</head>
<body>
<header class="main-header">
    <form action="" class="form-search">
        <input type="search" name="" placeholder="pesquisar" id="">
        <button><i class="fas fa-search"></i></button>
    </form>
    <h1>Criar Conta</h1>
    <nav class="nav">
        <button class="btn-menu" aria-expanded="false" aria-controls="main-menu" aria-label="Abrir menu" aria-haspopup="true"><span id="menu-hamburger"></span></button>
        <ul id="main-menu" role="menu">
            <li>
                <a href="#">Publicar Produto</a>
                <div class="underline-hover"></div>
            </li>
            <li>
                <a href="#">Entrar <i class="fas fa-sign-in-alt"></i></a>
                <div class="underline-hover"></div>
            </li>
        </ul>
    </nav>
</header>

<main>
    <p class="container">
        Preencha os campos abaixo e clique em <b>cadastrar</b> para publicar um novo produto no registro.
    </p>
    <form class="form" method="post" action="javascript:void(0)">
        <div>
            <input type="text" name="name" id="input-name">
            <label for="input-name">Seu Nome:</label>
            <i class="errorIcon"></i>
        </div>
        <div>
            <input type="email" name="email" id="input-email">
            <label for="input-email">Seu email:</label>
            <i class="errorIcon"></i>
        </div>
        <div>
            <input type="text" name="fone" id="input-fone">
            <label for="input-fone">Telefone:</label>
            <i class="errorIcon"></i>
        </div>
        <div>
            <input type="password" name="password" id="input-password">
            <label for="input-password">Crie uma Senha:</label>
            <i class="errorIcon"></i>
        </div>
        <div>
            <input type="password" name="password_re" id="input-password_re">
            <label for="input-password_re">Repita a senha:</label>
            <i class="errorIcon"></i>
        </div>
        <p>Já tem conta? <a href="">Faça login.</a></p>
        <div class="flex">
            <input type="submit" value="Cadastrar">
            <input type="reset" value="Limpar os Campos">
        </div>
    </form>
</main>

<footer class="main-footer">
    <div class="footer-content">
        <p class="copy">&copy; 2020-2021 - Criado e Editado por Nilton Duarte</p>
        <ul class="contact-list">
            <li><a href="https://www.facebook.com/nilton.duartte100/" alt="" title="" target="_blank">
                <i class="fab fa-facebook" style="font-size: 1.5em; display: block; text-align: center; margin: auto;"></i>
                <p>Página do Facebook</p>
            </a></li>
            <li><a href="https://instagram.com/n.i.l.t.o.n.1" alt="" title="" target="_blank">
                <i class="fab fa-instagram-square" style="font-size: 1.5em; display: block; text-align: center; margin: auto;"></i>
                <p>@n.i.l.t.o.n.1</p>
            </a></li>
            <li><a href="mailto:tvirapegubeco@gmail.com" alt="" title="" target="_blank">
                <i class="fas fa-envelope-square" style="font-size: 1.5em; display: block; text-align: center; margin: auto;"></i>
                <p>tvirapegubeco@gmail.com</p>
            </a></li>
            <li><a href="https://wa.me/5586999878575" alt="" title="" target="_blank">
                <i class="fab fa-whatsapp-square" style="font-size: 1.5em; display: block; text-align: center; margin: auto;"></i>
                <p>(86) 9 99878575</p>
            </a></li>
        </ul>
    </div>
</footer>
<script src="../assets/icons/fontawesome-free-5.15.4-web/js/all.js"></script>
<script src="../assets/scripts/script.js"></script>
<script>
    inputList.forEach((value, index) => {
    let id = value.getAttribute('id');
    let label = document.querySelector(`[for=${id}]`);
    value.addEventListener('focus', evt => {
        label.classList.add('labelIn');
        label.classList.remove('labelOut');
        value.setAttribute('placeholder', `Digite...`);

        switch (evt.target.id) {
            case 'input-name':
                value.setAttribute('placeholder', `Como você quer ser chamado`);
                break;
            case 'input-email':
                value.setAttribute('placeholder', `exemplo@email.com`);
                break;
            case 'input-fone':
                value.setAttribute('placeholder', `(00) 9 0000-0000`);
                break;
            case 'input-password':
                value.setAttribute('placeholder', `Crie uma senha`);
            break;
            case 'input-password_re':
                value.setAttribute('placeholder', `Confirme a senha`);
            break;
        default:
            console.log(evt.target.id);
        }
    });

    value.addEventListener('blur', evt => {
        value.setAttribute('placeholder', ``)

        if (value.value.length === 0) {
            label.classList.remove('labelIn');
            label.classList.add('labelOut');
        } else value.style.outline = 'none';
    });
});
</script>
</body>
</html>